<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LocakSeatApiMapper">

	<!-- 查看座位分布情况 -->
	<select id="getSeatBySessionsId" parameterType="java.lang.String"
		resultType="com.ydp.pwgl.dubbo.entity.Seat">
		select * from pt_sessnpew where sessionsid = #{sessionsid}
	</select>

	<!-- 更新座位状态 -->
	<select id="updateSeat" parameterType="java.util.Map">
		update pt_sessnpew set
		pewstatus=#{pewstatus} where sessionsid = #{sessionsid} and
		pewid=#{pewid}
	</select>

	<!-- 查看sessions场次 -->
	<select id="getSessions" parameterType="java.util.Map" resultType="java.util.Map">
		select * from pt_sessions
		<where>
			<if test="sessionsid != null">
				AND sessionsid = #{sessionsid}
			</if>
			<if test="status!= null">
				AND status = #{status}
			</if>
			<if test="delstatus!= null">
				AND delstatus = #{delstatus}
			</if>
		</where>
	</select>

</mapper>